<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests">
    <listeners>
        <listener class-name="anhlan.testComponents.listener"/>
    </listeners>
    <test name="Submit order test">
        <classes>
            <class name="anhlan.tests.submitOrderTest"/>
        </classes>
    </test>
    <test name="Error validation test">
        <classes>
            <class name="anhlan.tests.errorValidations"/>
        </classes>
    </test>
</suite>
